.text-P {
    font-size: 19px; 
}

.row h6:hover {
   color:black;
}

.logo{
    outline: none !important;
    border: none !important;
}

.logo:hover{
    outline: none !important;
    border: none !important;
}