
.popImg {
    width: 470px;
}

.margin-left {
    margin-left: 50px;
}


.containerImg {
    position: relative;
    /* text-align: center; */
    color: white;
  }

  .bottom-leftText {
    position: absolute;
    bottom: 30px;
    left: 16px;
  }

