.float {
    float: left;
    margin:0
}

.clear {
    clear: left;
    float: left;
}

.fontWeight {
    font-weight: bold
}

.orange {
    color:orange;
}

.button {
    padding: 10px 20px 10px 20px;
    clear: both;
    float: right;
    background-color:white; 
    border: 2px solid orange;
    color:orange;
    text-decoration: none;
    transition-duration: 0.1s;
    cursor: pointer;
}

.button:hover {
    background-color:orange;
    color:white;
  }

  .detCard {
      width:600px;
      height: 600px;
      border-radius: 3%;
  }
  .childCard {
    width:250px ;
    height: 288px;
    border-radius: 3%;
}

.hrFull {
  width: 100%;
}

.inputDiv {
    text-align: center;
    vertical-align: middle;
    float: left;
    border: 1px solid orange;
    outline: none !important;
    border-radius: 30px;
    height: 50px;
    padding:10px;
    margin-left: 1px;
}   

.inputDiv:focus { 
    outline: none !important;
    border-color:orange !important;
}
