.orange {
    color:#FB8C00;
}


.math{
    border:1px solid black;
}

.imgDim{
    height: 200px !important;
    widows: 200px !important;
    border-radius: 3px;
}

.button {
    background-color:white; 
    color:#FB8C00;
    cursor: pointer;
    border: 1px solid #FB8C00;
    border-radius: 5px;
    padding: 7px 15px ;
    font-weight: 500;
    outline: none !important;
}


.button:hover {
    background-color:#FB8C00;
    color:white;
}

.carousel-indicators > li {
    border-radius: 100%;
    width: 10px;
}

.inputDiv {
    text-align: center;
    vertical-align: middle;
    float: left;
    border: 1px solid orange;
    outline: none !important;
    border-radius: 30px;
    height: 50px;
    padding:10px;
    margin-left: 1px;
}   

.card-footer {
    background-color: white;
    border-top: none;
}



.black {
    color:black
} 

.inputDiv:focus { 
    outline: none !important;
    border-color:orange !important;
}

.angleDown {
    width:328px;
    height: 70px;
    border-radius: 5px;
    border:none !important;
}

.detCard {
        width:550px;
        height: 450px;
        border-top-left-radius: 3%;
        border-bottom-left-radius: 3%;
}
    
.childCard {
    width:300px ;
    height: 215px;
}

.childCard-right {
    width:300px ;
    height: 215px;
    border-top-right-radius: 3%;
    border-bottom-right-radius: 3%;
}

.angleDown:focus{
    outline:none !important;
}

.closeButton {
    border:none;
    background-color:white;
    float: right;
}

.closeButton:focus{
    outline:none;
}

.reserve {
    background-color:#FB8C00; 
    border: 2px solid #FB8C00;
    color:white;
    text-decoration: none;
    transition-duration: 0.1s;
    cursor: pointer;
}

.reserve:hover{
    background-color:white;
    color:#FB8C00;
}

.dateGuest:hover {
    border: 2px solid black;
}

