.bgImage-Berlin {
    background-image: url("https://cdn.hometogo.net/assets/media/jpg/51e60c2f3a26a13eb79d0d3edb8671ee.jpg");
    background-repeat: no-repeat;
    background-size: 470px;

}

.bgImage-Miami {
    background-image: url("https://cdn.hometogo.net/assets/media/jpg/53c53e48af005957c8cac94d0292f71e.jpg");
    background-repeat: no-repeat;
    background-size: 470px;
    
}

.bgImage-Newyork {
    background-image: url("https://cdn.hometogo.net/assets/media/jpg/801e1d4499f98aa2b92c81e7d96f28f4.jpg");
    background-repeat: no-repeat;
    background-size: 470px;
    
}


.bgImage-Phuket {
    background-image: url("https://cdn.hometogo.net/assets/media/jpg/407d32931b83e88d528714c4d1abb0f5.jpg");
    background-repeat: no-repeat;
    background-size: 470px;
    
}

.bgImage-Janeiro {
    background-image: url("https://cdn.hometogo.net/assets/media/jpg/5e4093de0b399962a847978146ce4e42.jpg");
    background-repeat: no-repeat;
    background-size: 470px;
    
}

.bgImage-Francisco {
    background-image: url("https://cdn.hometogo.net/assets/media/jpg/6f6876a7477cc9926cfba2160e4d1710.jpg");
    background-repeat: no-repeat;
    background-size: 470px;
    
}

.margin-left {
    margin-left: 45px;
}


.marginTop-Heading {
   margin-top: 220px;
}