.marginTop-Reg {
   margin-top: 100px;
}

.btnWidth {
   width: 350px;
}

.warningSize {
   font-size: 15px;
}

.backgroundColorAuth {
  background-color: rgb(245, 192, 93);
 width: 100%;
  height: 100vh;
}