.fontSizeAmenities {
    font-size: 18px;
}

.qtyDiv {
    border: 1px solid gray;
    padding: 3px 10px;
    font-size: 20px;
}

.qtyDivInc {
    border: 1px solid #FB8C00;
    color: #FB8C00;
}

.qtyDivDec {
    border: 1px solid gray;
    color:grey;
}

hr {
    width: 650px;
    color: lightgray;
    float: left;
}

.inputTagFilters {
    width: 700px;
}

.checkAmenities {
    height: 18px;
    width:18px;
}



