.float {
    float: left;
}

.close {
    margin-left: 55%;
    background-color:white; 
    border: 2px solid #FB8C00;
    color:#FB8C00;
    text-decoration: none;
    transition-duration: 0.1s;
    cursor: pointer;
} 

.close:hover {
    background-color:#FB8C00;
    color:white;
  }