.CalendarDay__selected_span {
    color: white;
    padding: 20px;
  }
  
  .CalendarDay__selected {
    background:orange;
    color: white;
    padding: 20px;
  }
  
  .CalendarDay__selected:hover {
    background: orange;
    color: white;
    padding: 20px;
  }
  
  .CalendarDay__hovered_span:hover,
  .CalendarDay__hovered_span {
    background: lightsalmon;
  }