/* .input {
    height: 45px;
    border: 1px solid lightgrey;
} */

.text {
    
    color: white;
    font-weight:bold
} 
.background {
    /* margin-top:75px; */
    background-image: url("https://images.unsplash.com/photo-1499793983690-e29da59ef1c2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:700px;
}

.fontSizeText {
    font-size: 15px;
}


.text_size {
    font-size: 40px;
}

.div {
   
    text-align: center;
    vertical-align:middle;
}


.buttonIn { 
    position: relative; 
} 
  
.location { 
    margin: 0px; 
    padding: 0px; 
    outline: none; 
} 
  
.svg{ 
    position: absolute; 
    top: 0; 
    right: 0px; 
    z-index: 2; 
    border: none; 
    top: 2px; 
    transform: translateX(2px); 
} 


.guestDiv{
    max-width: 300px;
    margin-left: 55%;
}

.search{
    height: 43px;
    width:auto;
}

.searchButton{
    background-color: orange;
} 


.inputMarginLeft {
    margin-left: 100px;
}

 .borderDiv, .borderDivDown {
    width: 400px;
    height: 60px;
    background-color: white;
}

.borderDivDown {
    height: 300px;
} 

 .Date_div {
    width: 400px;
    height: 60px;
    background-color: white;
}



.searchDiv {
    width: 70px;
    height: 60px;
    background-color: #FB8C00;
    
}

.borderInc{
    border: 1px solid orange;
    color: orange;
}
.borderDec {
    border: 1px solid grey;
    color: grey;
}

.borderInc, .borderDec {
    font-size:20px;
    width: 30px;
    height: 30px;
}

.inputfontSize {
    font-size: 20px;
} 

@media screen and (max-width: 2000px) {
    
}
  
 
@media screen and (max-width: 600px) {

    .background {
        height:450px;
    } 
    
     .borderDiv, .borderDivDown {
        height: 50px;
    }

    .searchDiv {
        height: 50px;
    } 

     .Date_div {
        height: 50px;
    }

    .text_size {
        font-size: 25px;
    }
}

 /* .divContainer {
    display: flex;
    flex-direction: row;
} */

.absolute{
    margin-left:57%;
    width:300px;
    border:1px gray solid;
    border-radius:5px;
    margin-top: 5px;
    padding:2px;
} 

.input {
    outline: none !important;
    border: none !important;
    vertical-align: middle !important;
}
.input:focus{
    outline: none !important;
}


/* .border {
    border: 1px  rgb(251, 240, 240);
    border-radius:5px;
}

.cross {
    margin-top:5px;
    padding:3px;
    margin-right: 2px;
    color:orange;
    vertical-align: middle !important;
}


.CalendarDay__selected_span {
    color: white;
    padding: 20px;
  }
  
  .CalendarDay__selected {
    background:orange;
    color: white;
    padding: 20px;
  }
  
  .CalendarDay__selected:hover {
    background: orange;
    color: white;
    padding: 20px;
  }
  
  .CalendarDay__hovered_span:hover,
  .CalendarDay__hovered_span {
    background: lightsalmon;
  }

  .guests {
      width:200px;
      background-color: white;
  }

  .search {
        width: 60px;
        height: 48px;
        outline: none !important;
        background-color: orange;
  }

  .regionDiv{
      background-color: white;
  }
  .search:focus{
      outline: none !important;
      border: none !important;
  } 
  */